@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './estilos.css';
@import './buttons.css';
@import './inputs.css';
@import './tables.css';
@import './navbars.css';

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}